server:
  port: 8000
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
      force-request: true
      force-response: true
  tomcat:
    uri-encoding: UTF-8
spring:
  mvc:
    static-path-pattern: /static/**
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://sh-inc.cf6og1l7mjlg.ap-northeast-2.rds.amazonaws.com:3306/sh_inc
    password: "dwaf8083!!"
    username: admin
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
  web:
    resources:
      static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/

public-api:
  business-population:
    base-url: https://bigdata.sbiz.or.kr/sbiz/api/bizonSttus/dynpplSttus/search.json
  household-residential:
    base-url: https://bigdata.sbiz.or.kr/sbiz/api/bizonSttus/rgnSttus/search.json  
  working-population:
    base-url: https://bigdata.sbiz.or.kr/sbiz/api/bizonSttus/wrcpplSttus/search.json

mybatis:
  mapper-locations:
  - /mappers/*/*.xml